 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  body {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
  }
  
  .icon {
    fill: var(--main-color);
  }
  
  .hidden {
    display: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .section {
    padding-top: 40px;
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
  }
  .section_title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }

  @media screen and (min-width: 768px) {
    .section {
      padding-top: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    .section {
      padding-top: 70px;
    }
  }