// calculate a circle's circumference based on radius
@function circumference($r){
  $pi: 3.141592653;
  @return 2*$pi*$r;
}

.nav {
  &__toggle {
    display:inline-block;
    position:absolute;
    z-index:30;
    padding:0;
    border:0;
    background:transparent;
    outline:0;
    right:15px;
    top:15px;
    cursor:pointer;
    border-radius:50%;
    transition:background-color .15s linear;
    
    &:hover,
    &:focus {
      background-color:rgba(0,0,0,.5);
    }
  }
  
  &__menu {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:var(--screen-height);
    position:relative;
    z-index:20;
    visibility:hidden;

  }
  
  &__item {
    opacity:0;
    transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
  }
  @for $i from 1 through 5 {
    &__item:nth-child(#{$i}){
      transform:translateY(-40px * $i);
    }
  }
  
  &__link {
    color:white;
    display:block;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:1.25rem;
    text-decoration:none;
    padding:1rem;
    
    &:hover,
    &:focus {
      outline:0;
      background-color:rgba(0,0,0,0.2);
    }
  }
}

.menuicon {
  display:block;
  cursor:pointer;
  color: white;
  
  transform:rotate(0deg);
  transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  
  &__bar,
  &__circle {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin:50% 50%;
    transition: transform .25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset .3s linear .1s;
    stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray:circumference(23);
  }
}

.splash {
  position:absolute;
  top:40px;
  right:40px;
  width: 1px;
  height: 1px;
  
  &::after {
    content:"";
    display:block;
    position:absolute;
    border-radius:60%;
    background-color:var(--splash-bg-color);
    width:95vmax;
    height:190vmax;
    top:-95vmax;
    left:-90vmax;
    
    transform: scale(0);
    transform-origin:50% 50%;
    transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    will-change:transform;
  }
}

@media screen and (min-width: 550px) {
  .splash {
    
    &::after {
      content:"";
      
      width:95vmax;
      height:170vmax;
      top:-80vmax;
      left:-90vmax;
      
    }
  }
}
@media screen and (min-width: 700px) {
  .splash {
    
    &::after {
      width:100vmax;
      height:170vmax;
      // top:-76vmax;
      left:-95vmax;
      
    }
  }
}
@media screen and (min-width: 768px) {
  .splash {
    
    &::after {
      width:105vmax;
      height:165vmax;
      // top:-76vmax;
      left:-100vmax;
    }
  }
  .logo {
    left: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav:target,
.nav--open {
  > .splash::after {
    transform:scale(1);
  }
  .menuicon {
    color:white;
    transform:rotate(180deg);
    
    &__circle {
      stroke-dashoffset:0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity:0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
  
  .nav {
    &__menu {
      visibility:visible;
    }
  
    &__item {
      opacity:1;
      transform:translateY(0);
    }
  }
}

.viewport {
  // width: 320px;
  // height:var(--screen-height);
  margin:0 auto;
  // background-color:white;
  background-color:var(--header-bg-color);
}

.header {
  height: 60px;
}


.logo_container {
  position: relative;
}
.logo {
width: 150px;
height: 150px;
position: absolute;
left: 15px;
top: 20px;
}
