.hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
  padding: 150px 43px;
}
.hero_title {
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
@media screen and (min-width: 400px) {
  .hero {
    background-size: 550px 500px;
    padding: 200px 43px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-size: 768px 600px;
    padding: 260px 43px;
  }
}
@media screen and (min-width: 1204px) {
  .hero {
    background-size: 800px 700px;
    padding: 270px 100px;
  }
  .hero_title {
    margin-left: 250px;
  }
}