.le {
    background-color: var(--background-color);
    padding-bottom: 20px;
}
.info-section_le {
    margin: 20px 0;
    & span {
        font-weight: 500;
    }
}

.info-section_course {
    margin: 20px 0;
}
.info-section_contraindication-list {
    margin-bottom: 20px;
    & li {
        margin-top: 10px;
    }

}

.info-section_preparation-list {
    & li {
        margin-top: 10px;
    }
}

.info-section_contraindication__title, .info-section_preparation__title {
    font-size: 16px;
    margin-top: 20px;
}

.info {
    display: block;
    margin: 0 auto;

}