
// .info-section_le {
//     background-color: var(--background-color);
//     padding: 20px;
// }

.info-section_course {
    margin-bottom: 20px;
}
.info-section_contraindication-list {
    margin-bottom: 20px;
    & li {
        margin-bottom: 10px;
    }
    & li:last-child {
        margin-bottom: 0;
    }
}

