<section class="section" id="about">
    <div class="container">
        <div class="section-about">
            <img src="./images/master.jpg" width="320" height="260"/>
            <div class="section-about_info">
                <h2 class="section_title tab">Олександра Степанова</h2>
                <p class="about-section_prof">майстер лазерної епіляції</p>
                <p class="about-section_service">Надаю послуги лазерної епіляції в сучасній, затишній студіі краси та здоров’я. Досвід роботи більше 5ти років. Працюю на якісному діодному лазері. Гарний результат, та доступні ціни гарантую.</p>
            </div>
        </div>
    </div>
    <ul class="gallery list">
        <li>
            <img src="./images/cert-1.jpg" />
            <div class="transparent"></div>
        </li>
        <li>
            <img src="./images/cert-2.jpg" />
            <div class="transparent"></div>
        </li>
        <li>
            <img src="./images/cert-3.jpg" />
            <div class="transparent"></div>
        </li>
        <li>
            <img src="./images/cert-4.jpg"/>
            <div class="transparent"></div>
        </li>
    </ul>
    <ul class="gallery-desctop list">
        <li>
            <img src="./images/cert-1.jpg" />
            <div class="transparent"></div>
        </li>
        <li>
            <img src="./images/cert-2.jpg" />
            <div class="transparent"></div>
        </li>
        <li>
            <img src="./images/cert-3.jpg" />
            <div class="transparent"></div>
        </li>
        <li>
            <img src="./images/cert-4.jpg"/>
            <div class="transparent"></div>
        </li>
    </ul>
    <ul class="price-list list" id="price">
        <li>
            <img src="./images/shotprice.jpg" />
        </li>
        <li>
            <img src="./images/pricecomplex.jpg" />
        </li>
        <li>
            <img src="./images/priceplus.jpg" />
        </li>
    </ul>
    <ul class="price-list_desctop list" id="priced">
        <li>
            <img src="./images/shotprice.jpg" />
        </li>
        <li>
            <img src="./images/pricecomplex.jpg" />
        </li>
        <li>
            <img src="./images/priceplus.jpg" />
        </li>
    </ul>
</section>