<section class="section about" id="about">
    <div class="container">
        <div class="section-about">
            <img src="./images/master.jpg" width="320" height="260" alt="майстер лазерної епіляції та апаратного масажу Олександра Степанова"/>
            <div class="section-about_info">
                <h2 class="section_title tab">Олександра Степанова</h2>
                <p class="about-section_prof">майстер лазерної епіляції та апаратного масажу</p>
                <p class="about-section_service">Надаю послуги лазерної епіляції та апаратного масажу в сучасній, затишній студії краси та здоров’я. Досвід роботи більше 5ти років. Працюю на якісному обладнанні. Гарний результат та доступні ціни гарантую.</p>
            </div>
        </div>
    </div>
    <ul class="gallery list">
        <li class="gallery-list_item">
            <img src="./images/cert-1.jpg" />
            <div class="transparent"></div>
        </li>
        <li class="gallery-list_item">
            <img src="./images/cert-2.jpg" />
            <div class="transparent"></div>
        </li>
        <li class="gallery-list_item">
            <img src="./images/cert-3.jpg" />
            <div class="transparent"></div>
        </li>
        <li class="gallery-list_item">
            <img src="./images/cert-4.jpg"/>
            <div class="transparent"></div>
        </li>
        <li class="gallery-list_item">
            <img src="./images/cert-6.jpg"/>
            <div class="transparent"></div>
        </li>
        <li class="gallery-list_item">
            <img src="./images/cert-5.jpg" class="gallery-list_item__img"/>
            <div class="transparent"></div>
        </li>
    </ul>
    <!-- <ul class="gallery-desctop list">
        <li class="gallery-list_item__dectop">
            <img src="./images/cert-1.jpg" />
            <div class="transparent_desc"></div>
        </li>
        <li class="gallery-list_item__dectop">
            <img src="./images/cert-2.jpg" />
            <div class="transparent_desc"></div>
        </li>
        <li class="gallery-list_item__dectop">
            <img src="./images/cert-3.jpg" />
            <div class="transparent_desc"></div>
        </li>
        <li class="gallery-list_item__dectop">
            <img src="./images/cert-4.jpg"/>
            <div class="transparent_desc"></div>
        </li>
    </ul> -->
    <ul class="price-list list" id="price">
        <li>
            <img src="./images/shotprice.jpg" alt="ціни на процедури"/>
        </li>
        <li>
            <img src="./images/pricecomplex.jpg" alt="ціни на комплекси" />
        </li>
        <li>
            <img src="./images/priceplus.jpg" alt="ціни на додаткові процедури"/>
        </li>
        <li>
            <img src="./images/massage.jpg" alt="ціни на процедури апаратного масажу"/>
        </li>
    </ul>
    <ul class="price-list_desctop list" id="priced">
        <li>
            <img src="./images/shotprice.jpg" alt="ціни на процедури"/>
        </li>
        <li>
            <img src="./images/pricecomplex.jpg" alt="ціни на комплекси"/>
        </li>
        <li>
            <img src="./images/priceplus.jpg" alt="ціни на додаткові процедури"/>
        </li>
        <li>
            <img src="./images/massage.jpg" alt="ціни на процедури апаратного масажу"/>
        </li>
    </ul>
</section>