<section class="section">
    <div class="container">
        <div class="section-about">
            <img src="./images/photo.jpg" width="320" height="300"/>
            <div class="section-about_info">
                <h2 class="section_title tab">Олександра Степанова</h2>
                <p class="about-section_prof">майстер лазерної епіляції</p>
                <p class="about-section_service">Надаю послуги лазерної епіляції в сучасній, затишній студіі краси та здоров’я. Досвід роботи більше 5ти років. Працюю на якісному діодному лазері. Гарний результат, та доступні ціни гарантую.</p>
            </div>
        </div>
    </div>
    <ul class="gallery list">
        <li>
            <img src="./images/sert-1.jpeg" />
        </li>
        <li>
            <img src="./images/sert-2.jpeg" />
        </li>
        <li>
            <img src="./images/sert-3.jpeg" />
        </li>
        <li>
            <img src="./images/sert-4.jpeg"/>
        </li>
    </ul>
    <ul class="gallery-desctop list">
        <li>
            <img src="./images/sert-1.jpeg" />
        </li>
        <li>
            <img src="./images/sert-2.jpeg" />
        </li>
        <li>
            <img src="./images/sert-3.jpeg" />
        </li>
        <li>
            <img src="./images/sert-4.jpeg"/>
        </li>
    </ul>
    <ul class="price-list list">
        <li>
            <img src="./images/shotprice.jpg" />
        </li>
        <li>
            <img src="./images/pricecomplex.jpg" />
        </li>
        <li>
            <img src="./images/priceplus.jpg" />
        </li>
    </ul>
    <ul class="price-list_desctop list">
        <li>
            <img src="./images/shotprice.jpg" />
        </li>
        <li>
            <img src="./images/pricecomplex.jpg" />
        </li>
        <li>
            <img src="./images/priceplus.jpg" />
        </li>
    </ul>
</section>