<section class="section advantage" id="advantage">
    <div class="container">
        <ul class="advantage-list list">
            <li>
                <svg class="icon" width="20" height="20">
                    <use  href="./images/sprite.svg#spa"></use>
                </svg>
                Сучасна студія</li>
            <li>
                <svg class="icon" width="20" height="20">
                    <use  href="./images/sprite.svg#spa"></use>
                </svg>
                Досвід</li>
            <li>
                <svg class="icon" width="20" height="20">
                    <use  href="./images/sprite.svg#spa"></use>
                </svg>
                Якісне обладнання</li>
            <li>
                <svg class="icon" width="20" height="20">
                    <use  href="./images/sprite.svg#spa"></use>
                </svg>
                Доступні ціни</li>
        </ul>
    </div>
</section>