<div class="viewport">
  <header class="header" role="banner">
    <div class="logo_container">
      <img class="logo" src="images/logo.png"/>
     </div>
    <nav id="nav" class="nav" role="navigation">
      <ul class="nav__menu" id="menu" tabindex="-1" aria-label="main navigation" hidden>
        <li class="nav__item"><a href="#" class="nav__link">Переваги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Про мене</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Салон</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Ціни</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакти</a></li>
      </ul>
      <a href="#nav" class="nav__toggle" role="button" aria-expanded="false" aria-controls="menu">
        <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 50 50">
          <title>Toggle Menu</title>
          <g>
            <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
            <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
            <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
            <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
            <circle class="menuicon__circle" r="23" cx="25" cy="25" />
          </g>
        </svg>
      </a>
      <div class="splash"></div>
    </nav>
  </header>
</div>

