<section class="section le" id="le">
    <div class="container">
        <svg class="icon info" width="40" height="40">
            <use  href="./images/sprite.svg#dermis"></use>
        </svg>
        <p class="info-section_le"><span>Лазерна епіляція - </span>ефективний та безпечний метод видалення волосся, під час якого лазерний промінь руйнує волосяну цибулину, вражаючи лише темний пігмент-меланін.</p>
        <p class="info-section_le">Він поглинає лазерне випромінювання, нагріває фолікул, внаслідок чого, волосина відмирає і випадає або ж росте тонша та світліша.</p>
    </div>
</section>

<section class="section">
    <div class="container">
        <svg class="icon info" width="40" height="40">
            <use  href="./images/sprite.svg#fire"></use>
        </svg>
        <p class="info-section_course">Досягнути гладенької шкіри можна пройшовши повний курс с 6-10 процедур із періодичністю в один-два місяці та зберегти результат назавжди, відвідуючи  профілактичні процедури раз на рік.</p>
    </div>
</section>

<section class="section le">
    <div class="container">
        <svg class="icon info" width="40" height="40">
            <use  href="./images/sprite.svg#yes"></use>
        </svg>
        <div class="info-section_preparation">
            <h5 class="info-section_preparation__title">Підготуватися до процедури дуже просто:</h5>
            <ul class="info-section_preparation-list list">
                <li>- не видаляти волосся з коренем протягом місяця,</li>
                <li>- за декілька днів до проведення процедури утриматися від перебування на сонці або відвідування солярію,</li>
                <li>- в день процедури поголити волосся в зоні видалення.</li>
            </ul> 
        </div>
       
    </div>
</section>
<section class="section" id="massage">
    <div class="container">
        <svg class="icon info" width="40" height="40">
            <use  href="./images/sprite.svg#lotos"></use>
        </svg>
            <p class="info-section_le"><span>Апаратний масаж - </span>сукупність методик із застосуванням різних видів енергії (вакуум, ультразвук, радіохвилі), які призначені для стимуляції біологічних тканин та їх структур.</p>
            <p class="info-section_le">Апаратний масаж використовується в косметології для корекції фігури, повернення тонусу шкірі, усунення целюліту, зменшення набряків.</p>
    </div>
</section>
<section class="section le">
    <div class="container">
        <svg class="icon info" width="40" height="40">
            <use  href="./images/sprite.svg#stone"></use>
        </svg>
        <div class="info-section_contraindication">
            <h5 class="info-section_contraindication__title">Види апаратного масажу:</h5>
            <ul class="info-section_contraindication-list list">
                <li class="info-section_contraindication-list__item">- RF ліфтинг, який ще називають радіочастотною підтяжкою шкіри, це безпечна і корисна для вашої шкіри процедура, яка допоможе активізувати роботу організму щодо вироблення «білка молодості», колагену.</li>
                <li class="info-section_contraindication-list__item">- Кавітація- безопераційна ліпосакція. Процедура зі зменшення підшкірних жирових відкладень за допомогою ультразвуку без болю та ушкоджень.</li>
                <li class="info-section_contraindication-list__item">- Вакуумний массаж, одна з найпопулярніших косметичних процедур. Він застосовуеться для позбавлення від целюліту і додання здорового виду шкірі.</li>
            </ul>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <svg class="icon info" width="40" height="40">
            <use  href="./images/sprite.svg#no"></use>
        </svg>
        <div class="info-section_contraindication">
            <h5 class="info-section_contraindication__title">Попри корисні та позитивні особливості лазерної епіляції та апаратного масажу, існують протипоказання для проведення процедур:</h5>
            <ul class="info-section_contraindication-list list">
                <li class="info-section_contraindication-list__item">- вагітність та період лактації,</li>
                <li class="info-section_contraindication-list__item">- менструація,</li>
                <li class="info-section_contraindication-list__item">- цукровий діабет,</li>
                <li class="info-section_contraindication-list__item">- онкологічні захворювання,</li>
                <li class="info-section_contraindication-list__item">- варикоз,</li>
                <li class="info-section_contraindication-list__item">- псоріаз,</li>
                <li class="info-section_contraindication-list__item">- герпес на місці проведення процедури,</li>
                <li class="info-section_contraindication-list__item">- інфекційні захворювання,</li>
                <li class="info-section_contraindication-list__item">- порушення цілісності шкірних покривів у зоні корекції,</li>
                <li class="info-section_contraindication-list__item">- металеві імплантати (у сфері проведення кавітації або RF ліфтингу).</li>
            </ul>
        </div>
    </div>
</section>