<section class="section" id="salon">
    <div class="container">
        <h2 class="section_title">Наша студія</h2>
        <p>Тут шось треба написати??? Может добавить все фото студии??</p>
        <ul class="section-salon_list list">
            <li>
                <img src="./images/salon.jpeg" alt="photo studia"/>
            </li>
            <li>
                <img src="./images/cabinet-1.jpeg" alt="photo cabinet"/>
            </li>
            <li>
                <img src="./images/cabinet-2.jpeg" alt="photo cabinet"/>
            </li>
        </ul>
        <ul class="section-salon_list-plus list">В нашій студії ви також можете скористатися послугами майстрів:
            <li>- манікюру/педікюру,</li>
            <li>- косметолога,</li>
            <li>- депіляції.</li>
        </ul>
    </div>
</section>