<section class="section" id="salon">
    <div class="container">
        <h2 class="section_title">Наша студія</h2>
        <ul class="section-salon_list-plus list">В нашій студії ви також можете скористатися послугами майстрів:
            <li>- манікюру/педікюру,</li>
            <li>- косметолога,</li>
            <li>- електроепіляція,</li>
            <li>- депіляції.</li>
        </ul>
        <ul class="section-salon_list list">
            <li>
                <img src="./images/salon.jpg" alt="photo studia"/>
            </li>
                <li>
                    <img src="./images/salon-2.jpg" alt="photo studia"/>
                </li>
                <li>
                    <img src="./images/salon-3.jpg" alt="photo studia"/>
                </li>
                <li>
                    <img src="./images/salon-4.jpg" alt="photo studia"/>
                </li>
            <li>
                <img src="./images/cabinet-1.jpg" alt="photo cabinet"/>
            </li>
            <li>
                <img src="./images/cabinet-2.jpg" alt="photo cabinet"/>
            </li>
        </ul>
       
    </div>
</section>