<section class="section">
    <div class="container">
        <h2 class="section_title"></h2>
        <p>Тут шось треба написати</p>
        <ul class="section-salon_list list">
            <li>
                <img src="./images/salon.jpeg"/>
            </li>
            <li>
                <img src="./images/cabinet-1.jpeg" alt="photo cabinet"/>
            </li>
            <li>
                <img src="./images/cabinet-2.jpeg"/>
            </li>
        </ul>
        <ul class="section-salon_list-plus list">Також у нашому салоні працюють майстри (чи ви можете отримати такі послги)
            <li>Майстер манікюру</li>
            <li>Косметолог</li>
        </ul>
    </div>
   

</section>